<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-3">
        <ul class="social-media-list">
			{% if site.email %}
          <li>{% include icon-gmail.html email=site.email %}</li>
			{% endif %}

			{% if site.facebook_fansname %}
          <li>
            {% include icon-facebook.html username=site.facebook_fansname %}
          </li>
            {% endif %}

            {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}

          {% if site.instagram_username %}
          <li>
            {% include icon-instagram.html username=site.instagram_username %}
          </li>
          {% endif %}
        </ul>
      </div>

    </div>

  </div>

</footer>
